# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Old Tkinter / PyInstaller build artifacts
build/
dist/
*.spec

# Installers and Binaries
*.exe
*.msi
*.zip

# Raw Data
*.csv

# Temporary files
KUNJUPLOADED/
pdf_preview/
backup/
cookies.txt
data/
training/dataset.csv
